@use '@carbon/styles/scss/theme';
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';

.drop-zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 300px;
  padding: spacing.$spacing-07;
  border: 2px dashed theme.$border-subtle-01;
  border-radius: 8px;
  background-color: theme.$layer-01;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover:not(.drop-zone--disabled) {
    border-color: theme.$border-interactive;
    background-color: theme.$layer-hover-01;
  }

  &:focus {
    outline: 2px solid theme.$focus;
    outline-offset: 2px;
  }

  &--active {
    border-color: theme.$support-success;
    background-color: theme.$layer-selected-01;
    border-style: solid;
  }

  &--disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &__input {
    display: none;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__icon {
    margin-bottom: spacing.$spacing-05;
    color: theme.$icon-secondary;
  }

  &__title {
    @include type.type-style('heading-03');
    margin-bottom: spacing.$spacing-03;
    color: theme.$text-primary;
  }

  &__subtitle {
    @include type.type-style('body-01');
    margin-bottom: spacing.$spacing-05;
    color: theme.$text-secondary;
  }

  &__hint {
    @include type.type-style('helper-text-01');
    color: theme.$text-helper;
  }

  &__error {
    margin-top: spacing.$spacing-05;
    padding: spacing.$spacing-03 spacing.$spacing-05;
    background-color: theme.$support-error;
    color: theme.$text-on-color;
    border-radius: 4px;
    @include type.type-style('body-compact-01');
  }
}
