@use '@carbon/react/scss/spacing' as *;
@use '@carbon/react/scss/colors' as *;
@use '@carbon/react/scss/type' as *;

.pricing-refresh {
  display: flex;
  align-items: center;
  gap: $spacing-04;
  flex-wrap: wrap;

  &--compact {
    gap: $spacing-02;
  }

  &__status {
    display: flex;
    align-items: center;
    gap: $spacing-03;
  }

  &__source {
    display: flex;
    align-items: center;
    gap: $spacing-02;
  }

  &__icon {
    &--api {
      color: var(--cds-support-success, $green-50);
    }

    &--static {
      color: var(--cds-support-warning, $yellow-30);
    }

    &--offline {
      color: var(--cds-text-helper, $gray-50);
    }
  }

  &__updated {
    @include type-style('helper-text-01');
    color: var(--cds-text-secondary, $gray-60);
  }

  &__button {
    flex-shrink: 0;
  }

  &__error {
    @include type-style('helper-text-01');
    color: $orange-40;
    width: 100%;
    margin-top: $spacing-02;
  }
}
