// Documentation page styles
@use '@carbon/styles/scss/spacing';
@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/theme';

.documentation-page {
  &__title {
    @include type.type-style('heading-04');
    margin-bottom: spacing.$spacing-03;
    color: theme.$text-primary;
  }

  &__subtitle {
    @include type.type-style('body-01');
    color: theme.$text-secondary;
    margin-bottom: spacing.$spacing-06;
  }

  &__overview-tile {
    padding: spacing.$spacing-05;
    margin-bottom: spacing.$spacing-05;

    h2 {
      @include type.type-style('heading-03');
      margin-bottom: spacing.$spacing-04;
      color: theme.$text-primary;
    }

    p {
      margin-bottom: spacing.$spacing-04;
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacing-04;
    padding: spacing.$spacing-04 0;
  }

  &__metric-card {
    padding: spacing.$spacing-04;
    border-left: 3px solid var(--cds-link-primary, #0f62fe);

    h4 {
      @include type.type-style('heading-compact-02');
      color: theme.$text-primary;
      margin-bottom: spacing.$spacing-03;
    }

    p {
      @include type.type-style('body-01');
      color: theme.$text-secondary;
      margin-bottom: spacing.$spacing-03;
    }
  }

  &__formula {
    @include type.type-style('body-compact-01');
    margin-bottom: spacing.$spacing-02;

    code {
      background-color: var(--cds-layer-02);
      padding: spacing.$spacing-01 spacing.$spacing-02;
      border-radius: 2px;
      font-family: 'IBM Plex Mono', monospace;
      font-size: 0.875rem;
    }
  }

  &__source {
    @include type.type-style('helper-text-01');
    color: theme.$text-helper;
    margin-bottom: spacing.$spacing-02;
  }

  &__notes {
    @include type.type-style('body-compact-01');
    margin-top: spacing.$spacing-03;

    .cds--list--unordered {
      margin-top: spacing.$spacing-02;
    }
  }

  &__status-list {
    display: flex;
    flex-direction: column;
    gap: spacing.$spacing-03;
    margin-top: spacing.$spacing-03;
  }

  &__status-item {
    display: flex;
    align-items: center;
    gap: spacing.$spacing-03;

    span {
      @include type.type-style('body-compact-01');
      color: theme.$text-secondary;
    }
  }

  // Override accordion styles
  .cds--accordion__title {
    @include type.type-style('heading-compact-02');
  }

  .cds--accordion__content {
    padding-right: spacing.$spacing-05;
  }
}
